@import "vars"

html
  font: $font-size/1.6 $sans-serif
  color: $black
  font-weight: 300


=button-like($color: black)
  display: inline-block
  border-radius: .2rem
  height: 2.35em
  line-height: 2.25em
  padding: 0 .75em
  margin: 0 -.75em
  transition: background-color 100ms ease-in-out

  &:hover
    background-color: transparentize($color, .9)


body
  min-height: 100vh

  display: flex
  flex-direction: column

  main
    flex-grow: 1

  background-image: linear-gradient(45deg, hsl(hue($color-a), 96%, 96%) 15%, hsl(hue($color-d), 96%, 96%) 85%)


nav > * > *, main, footer > * > *
  max-width: $page-width + 2 * $site-padding
  padding-left: $site-padding
  padding-right: $site-padding
  display: block
  margin: auto


nav
  background: white
  border-bottom: 1px solid $border
  margin-bottom: $smaller-sheet-padding
  font-variant-caps: all-small-caps

  .stripe
    height: .175em
    background: $color-b linear-gradient(45deg, $color-b 15%, $color-c 85%)

  .logo
    padding: 1.5em
    border-bottom: 1px solid $border
    text-align: center

    h1, h2
      font-size: 1.5em
      text-align: center

    p
      font-style: italic
      font-variant-caps: initial

  .menu
    border-bottom: .15em solid lighten($border, 7.5%)

    & > *
      margin-bottom: -.15em

    ol
      li
        border-left: 1px solid $border

        &:last-child
          border-right: 1px solid $border

        a
          display: inline-block
          padding: .2em 1em .65em
          border-top: .175em solid transparent
          transition: border-top-color 100ms ease-in-out

        &:nth-child(1) a:hover
          border-top-color: $color-a

        &:nth-child(2) a:hover
          border-top-color: $color-b

        &:nth-child(3) a:hover
          border-top-color: $color-c

        &:nth-child(4) a:hover
          border-top-color: $color-d

        &:nth-child(5) a:hover
          border-top-color: $color-e


footer
  background: white
  border-top: 1px solid $border
  margin-top: $smaller-sheet-padding

  text-align: center
  padding: 1em


article
  max-width: $page-width + 2 * $site-padding
  margin: 0 auto

  background-color: $white
  border-radius: .25em
  border: 1px solid #e2e4e6
  overflow: hidden
  --vertical-sheet-padding: #{$sheet-padding}

  section
    padding-top: var(--vertical-sheet-padding)
    padding-bottom: var(--vertical-sheet-padding)

  .content
    padding-top: 0

  .cover
    margin-bottom: var(--vertical-sheet-padding)

    img
      width: 100%

  .meta
    border-top: 1px solid #eaecee
    background-color: #fafafa

.card + .card
  margin-top: $smaller-sheet-padding

.card
  --vertical-sheet-padding: #{$smaller-sheet-padding}

  .cover
    overflow: hidden

    img
      transition: transform 200ms ease-in-out
      transform: scale(1.05)

      &:hover
        transform: none

  .content
    padding-bottom: .5em

  .actions
    padding-top: 0
    text-align: right

    a
      +button-like

.plain-button
  padding: $smaller-sheet-padding 0
  text-align: center

  a
    +button-like

.article-list
  td
    vertical-align: top

  td:first-child
    color: $dimmed-black
    text-align: right
    padding-right: 1em

main > h1
  font-size: 2em
  text-align: center
  margin-bottom: $smaller-sheet-padding
