{% extends "base.html" %}
{% block title %}{{ article.title | striptags }}{% endblock %}
{% block description %}{% endblock %}
{% block author %}Jonasz Aleszkiewicz{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>{{ article.title }}</h1>

            <nav>
                <time>{{ article.date }}</time>
                {% if article.revised %}
                    &middot; ŝanĝita
                    <time>{{ article.revised }}</time>
                {% endif %}
                &middot;
                <a href="{{ site.index | as_absolute_url }}">Jonasz Aleszkiewicz</a>
            </nav>
        </header>

        {{ article.content }}

        <div id="disqus_thread">
            <a href="javascript:disqus()">komentu</a>
            <noscript>(wymaga JavaScriptu)</noscript>
        </div>
        <script>
            function disqus() {
                document.getElementById("disqus_thread").classList.add("init");

                var PAGE_URL = "{{ article.source | as_absolute_url(True) }}";
                var PAGE_IDENTIFIER = "{{ article.source.stem }}";
                var disqus_url = PAGE_URL;
                var disqus_config = function () {
                    this.page.url = PAGE_URL;
                    this.page.identifier = PAGE_IDENTIFIER;
                };
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://aleshkev-github-io.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            }
        </script>

    </article>

{% endblock %}

{% block copyright_year %}
    {{ article.date.year }}
    {% if article.revised and article.revised.year != article.date.year %}
        – {{ article.revised.year }}
    {% endif %}
{% endblock %}

{% block extra_copyright %}
    {% if article.extra_copyright %}
        {{ article.extra_copyright }}
    {% endif %}
{% endblock %}
