{% extends "base.html" %}
{% block lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ article.title | striptags }}{% endblock %}
{% block author %}{{ article.author | striptags }}{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>{{ article.title }}</h1>

            <nav>
                <time>{{ article.date }}</time>
                {% if article.revised %}
                    &middot; ŝanĝita
                    <time>{{ article.revised }}</time>
                {% endif %}
                &middot;
                {{ article.author }}
            </nav>
        </header>

        {{ article.content }}
    </article>
{% endblock %}

{% block copyright_year %}
    {{ article.date.year }}
    {% if article.revised and article.revised.year != article.date.year %} – {{ article.revised.year }} {% endif %}
{% endblock %}
