<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{% endblock %} – aleshkev.github.io</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="author" content="{% block author %}Jonasz Aleszkiewicz{% endblock %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    {% assets filters="sass, cssmin", output="style.min.css", "style.sass" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" media="all"/>
    {% endassets %}
</head>

<body>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    ©
    {% block copyright_year %}
        {% if site.articles[-1].date.year == site.articles[0].date.year %}
            {{ site.articles[0].date.year }}
        {% else %}
            {{ site.articles[-1].date.year }}–{{ site.articles[0].date.year }}
        {% endif %}
    {% endblock %}
    Jonasz Aleszkiewicz
    {% if self.extra_copyright().strip() %} &middot; {% endif %}
    {% block extra_copyright %}{% endblock %}
</footer>
</body>
</html>