<!DOCTYPE html>
<html lang="{% block lang %}pl{% endblock %}">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{% endblock %} – aleshkev.github.io</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="author" content="{% block author %}Jonasz Aleszkiewicz{% endblock %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    {% assets filters="sass, cssmin", output="style.min.css", "style.sass" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" media="all"/>
    {% endassets %}
</head>

<body>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    © {% block copyright_year %}{% endblock %} Jonasz Aleszkiewicz
</footer>
</body>
</html>
