{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}
{% block keywords %}Jonasz Aleszkiewicz{% endblock %}
{% block description %}Strona główna Jonasza Aleszkiewicza.{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Jonasz Aleszkiewicz</h1>
        </header>

        <div class="contact-table">
            <div>
                <span>email</span>
                <span>j.alesz<span style="display: none">[tekst]</span>kiewicz@gm<span style="display: none">[antybotowy]</span>ail.com</span>
            </div>
            <div>
                <span>GitHub</span>
                <span><a href="https://github.com/Aleshkev">@Aleshkev</a></span>
            </div>
            <div>
                <span>Codeforces</span>
                <span><a href="https://codeforces.com/profile/Aleshkevich">Aleshkevich</a></span>
            </div>
        </div>

        <h2>Artykuły</h2>
        <div class="article-list">
            {% for article in site.articles %}
                <div>
                    <span><time>{{ article.date }}</time></span>
                    <span>
                        <a href="{{ article.source | as_absolute_url }}">{{ article.title }}</a>
                    </span>
                </div>
            {% endfor %}
        </div>
    </article>
{% endblock %}
