{% extends "base.html" %}
{% from "macros.html" import article_list %}

{% block title %}Spis artykułów{% if tag %}: {{ tag.name }}{% endif %}{% endblock %}
{% block keywords %}artykuły{% if tag %}, {{ tag.name }}{% endif %}{% endblock %}
{% block description %}Spis artykułów na blogu Jonasza Aleszkiewicza{% endblock %}

{% block content %}
    <h1>Spis artykułów{% if tag %}<span class="tag-name">: {{ tag.name }}</span>{% endif %}</h1>
    {{ article_list(site, site.articles, tag) }}
{% endblock %}
