{% macro article_list(site, articles, tag) %}
    <div class="article-list">
        {% for article in articles if not tag or tag in article.tags %}
            <div>
                <span>{{ article.date }}</span>
                <span>
                    <a href="{{ article.source | as_absolute_url }}">{{ article.title }}</a>
                    <span class="ui">
                    {% for article_tag in article.tags %}
                        <a href="{{ article_tag.source | as_absolute_url }}"
                        >{{ article_tag.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </span>
                </span>
            </div>
        {% endfor %}
    </div>
    {% if tag or articles != site.articles %}
        <a class="all-articles-link" href="{{ site.main_list | as_absolute_url }}">wszystkie artykuły</a>
    {% endif %}
{% endmacro %}