<nav>
    <div class="stripe"></div>
    <div class="logo">
        {{ if eq .URL "/" }}
            <h1>
                <a href="/">{{ .Site.Title }}</a>
            </h1>
        {{ else }}
            <h2>
                <a href="/">{{ .Site.Title }}</a>
            </h2>
        {{ end }}
        <p>{{ .Site.Params.Description }}</p>
    </div>
    <div class="menu">
        <ol>
            {{- range .Site.Menus.main -}}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{- end -}}
        </ol>
    </div>
</nav>
